{% extends 'base.html' %}
{% comment %} this file inherits the base html file by using the line below {% endcomment %}
{% block title %}BlogPost{% endblock title %}
{% block css %}
.pad{
  padding-bottom: 200px;
}
{% endblock css %}
{% block blogactive %}active
{% endblock blogactive %}
{% block body %}
{% load humanize %}
{% load extras %}
{% comment %} Post Section (Life Update Posts) {% endcomment %}
{% if post %}
<div class="text-gray-500 bg-gray-900 body-font pad">
<div class="blog-post container py-3">
<h2 class="blog-post-title" data-aos="fade-up"  data-aos-duration="3000">{{post.title}}</h2>
<p class="blog-post-meta">At {{post.timeStamp}} By- <a href="/about">{{post.author}}</a></p>
<pre class="text-gray-500" data-aos="fade-down"  data-aos-duration="3000">{{post.content|wordwrap:100}}</pre>
 <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        {% if post.img %}
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{{post.img.url}}">
        </div>{% endif %}
        {% if post.img2 %}
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{{post.img2.url}}">
        </div>{% endif %}
        {% if post.img3 %}
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-afull h-afull object-cover object-center block" src="{{post.img3.url}}">
        </div>{% endif %}
      </div>
      {% if post.img4 %}
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full h-full object-cover object-center block" src="{{post.img4.url}}">
        </div>{% endif %}
        {% if post.img5 %}
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{{post.img5.url}}">
        </div>{% endif %}
        {% if post.img6 %}
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{{post.img6.url}}">
        </div>{% endif %}
      </div>
    </div>
    <div class="container">
    <div class="fb-like my-2 text-gray-500 bg-gray-900 body-font" data-href="http://skyrunner360.pythonanywhere.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br>
    <h2>Comments ({{pcomments.count}})</h2>
    {% if user.is_authenticated %}
    <form action="/blog/postComment" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Post Comment</label>
    <input type="text" class="form-control" name="comment" placeholder ="Add a Comment">
  </div>
  <div class="form-group form-check">
    <input type="hidden" name="postSno" value="{{post.sno}}">
    <input type="hidden" name="parentSno" value="">
  </div>
  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>
    {% else %}
    <p>Please Login to Post Comment</p>
    {% endif %}
{% for comment in pcomments %}
    <div class="row my-3">
    <div class="col-md-1"> <i class="fas fa-user rounded border border-dark p-3"></i></div>
    <div class="col-md-11">
    <b>{{comment.user.username}}</b> <span class="badge badge-pill badge-secondary">{{comment.timestamp|naturaltime}}</span>
    <div>{{comment.comment}}</div>
    {% comment %} Reply Section {% endcomment %}
    <div class="reply mx-0">
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
    Reply
  </button>
<div class="collapse" id="replybox{{comment.sno}}">
  <div class="card card-body my-2 bg-secondary">
    <form action="/blog/postComment" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="comment">Post A Reply</label>
    <input type="text" class="form-control" name="comment" placeholder ="Add a reply...">
    <input type="hidden" name="parentSno" value="{{comment.sno}}">
  </div>
  <div class="form-group form-check">
    <input type="hidden" name="postSno" value="{{post.sno}}">
  </div>
  <button type="submit" class="btn btn-sm btn-primary" value="submit">Submit</button>
</form>
  </div>
    </div>
    <div class="replies my-2">
{% for reply in preplyDict|get_val:comment.sno %}
{{reply}}<br>
{% endfor %}
</div>
    </div>
    </div>
{% endfor %}
</div> 
</div>
{% else %}
{% comment %} Tech Blogs Section {% endcomment %}
<div class="text-gray-500 bg-gray-900 body-font pad">
<div class="blog-post container py-3">
<h2 class="blog-post-title" data-aos="fade-up"  data-aos-duration="3000">{{tech.title}}</h2>
<p class="blog-post-meta">At {{tech.timeStamp}} By- <a href="/about">{{tech.author}}</a></p>
<pre class="text-gray-500" data-aos="fade-down"  data-aos-duration="3000">{{tech.content|wordwrap:100}}</pre>
{% if tech.img %}
<img data-aos="flip-left"  data-aos-duration="3000" src="{{tech.img.url}}" alt="Image">
{% else %}
<img data-aos="flip-left"  data-aos-duration="3000" src="https://source.unsplash.com/720x600/?computer,programming" alt="Image">
{% endif %}
<div class="container">
    <div class="fb-like my-2 text-gray-500 bg-gray-900 body-font" data-href="http://skyrunner360.pythonanywhere.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br>
    <h2>Comments ({{tcomments.count}})</h2>
    {% if user.is_authenticated %}
    <form action="/blog/postComment" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Post Comment</label>
    <input type="text" class="form-control" name="comment" placeholder ="Add a Comment">
  </div>
  <div class="form-group form-check">
    <input type="hidden" name="techSno" value="{{tech.sno}}">
    <input type="hidden" name="parentSno" value="">
  </div>
  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>
    {% else %}
    <p>Please Login to Post Comment</p>
    {% endif %}
{% for comment in tcomments %}
    <div class="row my-3">
    <div class="col-md-1"> <i class="fas fa-user rounded border border-dark p-3"></i></div>
    <div class="col-md-11">
    <b>{{comment.user.username}}</b> <span class="badge badge-pill badge-secondary">{{comment.timestamp | naturaltime}}</span>
    <div>{{comment.comment}}</div>
    {% comment %} Reply Section {% endcomment %}
    <div class="reply mx-0">
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
    Reply
  </button>
<div class="collapse" id="replybox{{comment.sno}}">
  <div class="card card-body my-2 bg-secondary">
    <form action="/blog/postComment" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="comment">Post A Reply</label>
    <input type="text" class="form-control" name="comment" placeholder ="Add a reply...">
    <input type="hidden" name="parentSno" value="{{comment.sno}}">
  </div>
  <div class="form-group form-check">
    <input type="hidden" name="techSno" value="{{tech.sno}}">
  </div>
  <button type="submit" class="btn btn-sm btn-primary" value="submit">Submit</button>
</form>
  </div>
    </div>
    <div class="replies my-2">
{% for reply in treplyDict|get_val:comment.sno %}
{{reply}}<br>
{% endfor %}
</div>
    </div>
    </div>
{% endfor %}
</div>
</div>
</div>
{% endif %}
{% endblock body %}
{% block script %}
AOS.init();
{% endblock script %}