{% extends 'base.html' %}
{% comment %} this file inherits the base html file by using the line below {% endcomment %}
{% block title %}About Me{% endblock title %}
{% block css %}
.pad{
  padding-bottom: 200px;
}
{% endblock css %}
{% block aboutactive %}active
{% endblock aboutactive %}
{% block body %}
{% load static %}
<div class="text-gray-500 bg-gray-900 body-font pad">
<div class="container py-3">
<section class="body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
     <div class="flex flex-wrap md:-m-2 -m-1 my-2">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{% static '/selfie.jpg' %}" height=500 width=300 >
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{% static '/hill.jpg' %}">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full h-full object-cover object-center block" src="{% static '/me.jpg' %}" height=600 width=360>
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-full h-full object-cover object-center block" src="{% static '/rishi.jpeg' %}" height=601 width=361>
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-right"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{% static '/stand.jpg' %}">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" data-aos="flip-left"  data-aos-duration="3000" class="w-full object-cover h-full object-center block" src="{% static 'car.jpg' %}">
        </div></div></div>
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white" data-aos="fade-up-right"  data-aos-duration="3000">About Me</h1>
      <p class="mb-8" data-aos="fade-up-left"  data-aos-duration="3000">Welcome to the small world of this Introvert named <b><i>Rishi Mathur</i></b> Who hails from <i>Ajmer, Rajasthan, India</i> and is currently studying <i>BCA (Bachelor Of Computer Applications)- Cloud Technology and Information Security</i> from <i>Ajeenkya DY Patil University, Pune</i> at the Age of 20.</p>
      <p data-aos="fade-up-right"  data-aos-duration="3000"> I have created this blog as a means to learning <i>Django Framework</i> and other such related technologies. This can also serve as my portfolio website in future.</p><p data-aos="fade-up-left"  data-aos-duration="3000">Here I'll be posting some of my original writings in the <b><i><a href="/writings" style="text-decoration:none;">writings</a></i></b> section of the website and Blogs related to Life Updates in the <b><i><a href="/blog" style="text-decoration:none;">Blog</a></i></b> section of the website. This site will also act as a playground to test different technologies so it's no way near perfect. That's all for now, to know more contact me.</P>
      <p data-aos="fade-up-right"  data-aos-duration="3000">Your Suggestions and contributions to this website are really appriciated. Feel free to drop them either on the contacts page or on my <i>GitHub Profile</i>.</p>
      <div class="flex justify-center">
        <a href="/blog"><button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" data-aos="fade-up-left"  data-aos-duration="3000">Blog</button></a>
        <a href = "/writings"><button class="ml-4 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" data-aos="fade-up-right"  data-aos-duration="3000">Writings</button></a>
      </div>
    </div>
  </div>
</section>
</div>
</div>
{% endblock body %}
{% block script %}
    AOS.init();
{% endblock script %}