{% extends 'base.html' %}
{% block title %}My Writings
{% endblock title %}
{% block writingactive %}active
{% endblock writingactive %}
{% block body %}
<div class="text-gray-500 bg-gray-900 body-font pad">
<div class="blog-post container py-3">
<h2 class="blog-post-title" data-aos="fade-up"  data-aos-duration="3000">{{writings.title}}</h2>
<p class="blog-post-meta">At {{writings.timeStamp}} By- <a href="/about">{{writings.author}}</a></p>
<pre class="text-gray-500" data-aos="fade-down"  data-aos-duration="3000">{{writings.content|wordwrap:100|linebreaks}}</pre>
{% if writings.img %}
<img src="{{writings.img.url}}" alt="Image" data-aos="fade-up"  data-aos-duration="3000">
{% else %}
<img src="https://source.unsplash.com/720x600/?writings,writer" alt="Image" data-aos="fade-up"  data-aos-duration="3000">
{% endif %}
<div class="container">
<div class="fb-like my-2" data-href="http://skyrunner360.pythonanywhere.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br>
<div class="fb-comments my-1" data-href="https://skyrunner360.pythonanywhere.com" data-numposts="5" data-width=""></div>
</div>
</div>
</div>
{% endblock body %}
{% block script %}
AOS.init();
{% endblock script %}